<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Us - StemPro Academy{% endblock %}

{% block content %}

<section>
    <h2>From Code to Campus: Elevate Your College Application Journey</h2>

    <p>Why just apply to college when you can master the process? StemPro Academy's flagship CollegeNinja: Code-to-Campus Series empowers students and parents to become college application experts. Through AI, programming, and personalized guidance, learn the secrets of standout applications, essay writing, and skill-building for SAT/ACT prep. Dive into a program that’s helped numerous families secure their dream schools – why not let it help yours too?</p>
    <h3>👨‍🎓 CollegeNinja: Code-to-Campus Series</h3>
<strong>College Application Mastery with AI & Programming</strong>

<ul>
    <li><strong>Objective:</strong> Why just apply to college when you can master the process? StemPro Academy’s flagship CollegeNinja: Code-to-Campus Series empowers students and parents to become college application experts. Through AI, programming, and personalized guidance, you’ll learn the secrets behind standout applications, strategic essay writing, and skills for SAT/ACT prep. Join a program that’s helped numerous families reach their dream schools—why not make it yours?</li>
    <li><strong>Curriculum:</strong>
        <ul>
            <li><strong>Master the Process:</strong> Gain a comprehensive understanding of what makes a competitive college application. Learn how to craft a profile that highlights your unique strengths, achievements, and ambitions.</li>
            <li><strong>Bridge the Gap:</strong> Use AI-driven insights to assess college compatibility, identify key growth areas, and develop a targeted improvement plan that boosts your application’s impact.</li>
            <li><strong>Execute with Precision:</strong> Harness advanced AI tools for SAT, ACT, and essay prep, equipping yourself to create compelling narratives and genuine self-representation that stand out to admissions committees.</li>
        </ul>
    </li>
    <li><strong>Outcome:</strong>
        <ul>
            <li>Become an expert in preparing standout college applications, equipped with insights into admissions strategies.</li>
            <li>Gain an in-depth understanding of the college admissions landscape and its expectations.</li>
            <li>Build a distinctive, competitive application using AI to highlight your strengths and achievements.</li>
            <li>Develop practical skills in AI and programming, enhancing your tech knowledge and application impact.</li>
            <li>Complete the program with a portfolio of achievements showcasing innovation, initiative, and dedication.</li>
            <li>Approach the college admissions process with confidence and a toolkit of skills that set you apart.</li>
        </ul>
    </li>
    <li><strong>Duration:</strong> Flexible sessions customized to fit each student’s schedule.</li>
    <li><strong>Class Size:</strong> Small groups of 5 to 8 students for focused, personalized support.</li>
    <li><strong>Guest Speakers:</strong> Benefit from insights and inspiration with special sessions featuring past students, parents, and experienced college counselors. Hear real success stories and get practical advice from those who have successfully navigated the college admissions journey, providing a well-rounded, supportive experience to help you on your path to college.</li>
    <li><strong>Instructors:</strong> Led by CollegeNinja and a team of expert AI and college admissions professionals with proven success guiding students to top universities like MIT, UC Berkeley, and more.</li>
</ul>


    <!-- <a href="https://forms.gle/MuKXp6snd5819V3b9" class="signup-button">Signup Here</a> -->
    <!-- <a href="/register" class="signup-button">Signup!</a> -->
    <div style="text-align: left;">
        Join Us Today:  <a href="{{ url_for('register') }}" class="button signup-button" style="margin-right: 10px;">Sign Up</a>
        Get Personalized Guidance: <a href="{{ url_for('schedule') }}" class="button schedule-button">Schedule</a>
    </div>

</section>

<section>
    <h2>Sign Up for Our Programs</h2>
    <p>Ready to join our community and start your STEM journey? Sign up for our programs today and gain access to our exclusive Google Classroom where you can find resources, assignments, and connect with instructors.</p>


    <div style="text-align: left; margin-bottom: 20px;">
        <p><strong>Join Us Today:</strong> Sign up for our AI and StemPrograms to gain hands-on experience and empower your learning journey!</p>
        <a href="{{ url_for('register') }}" class="button signup-button" style="margin-right: 10px;">Sign Up</a>
    </div>

    <div style="text-align: left;">
        <p><strong>Not sure where to start?</strong> Schedule a free consultation with one of our experts to help determine the best program for you or your child. We’ll guide you through the best learning options based on your goals and interests.</p>
        <a href="{{ url_for('schedule') }}" class="button schedule-button">Schedule</a>
    </div>

    </div>
</section>

{% endblock %}