<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Us - StemPro Academy{% endblock %}

{% block content %}
<section class="resources-section">
    <h1>Resources</h1>
    <p>Welcome to the StemPro Academy Resources page. Here, you’ll find a collection of our past courses and programs, offering valuable insights and materials.</p>

    <p>Please <a href="{{ url_for('login') }}" class="login-link">log in</a> to browse our full selection of past courses, programs, and resources.</p>
</section>

{% endblock %}